body {
  width: 70%;
  height: 50%;
  margin-left: 5%;
  margin-top: 5%;
  border: 1px solid #000000;
  padding: 4%;
}
div.table{
  float: right;
  clear: left;
}
#buttons{
  clear: both;
  float:left;
}
