body{
  background-color: #777777;
}
.containor {
  background-color: #ffffff;
  width: 50em;
  height: 7em;
  margin-left: 5%;
  margin-top: 5%;
  padding: 4%;
  border: 1px solid #000000;
  padding-bottom: 10%;
}
div.table{
  float: right;
  z-index: 10;
  position: relative;
  right: 0;
  top: 0;
}
div#buttons{
  position: absolute;
}
:target>p{
  border: 1px solid blue;
}
.back{
  text-align: center;
  margin-top: 2%;
  color: white;
}
