
body {
  background-image: url("../images/background.jpeg");
  background-repeat: no-repeat;
}
div#container {
  position: relative;
  height: 50%;
  width: 75%;
  background-color: #666666;
  border-radius: 15% 15%;
  background-blend-mode: darken;
  border: solid;
  margin-left: 6%;
  margin-top: 5%;
  border-width: 2em;
  border-color: transparent;
  padding: 2%;
  color: #000000;

  box-shadow: 10% 10% 10% 25% #777777;
}
div.welcome{
  background-color: #666666;
  position: relative;
  height: 50%;
  width: 75%;

  margin-left: 10%;
  margin-right: 10%;
  padding: 2%;
  color: #000000;

  box-shadow: 10% 10% 10% 25% #777777;
}
H1 {
  text-align: center;
}
#nav {
  background-color: #eeeeee;
  position: relative;
  height: 50%;
  width: 90%;
  border-radius: 10em;

  margin: 2%;
  margin-left: 4%;
  padding: 2%;
  box-shadow: 0 0 5px 15px #444444;
  opacity: .3;
}
#nav>ul>li {
  display: inline;
  list-style-type: none;
  padding: 4%;
}
#stats{
  text-align: center;
}
#about{
  text-align: center;
}
































/* end */
