table{
  border: 2px solid #000000;
  border-collapse: collapse;
  float: right;
}
th, td {
  padding-right: 3em; /*from 3em to 13em*/
  padding-top: 1em;
}
th {
  text-transform: uppercase;
  border-bottom: 2px solid #000000;
  font-size: 90%;
  text-align: left;
}
td{
  font-size: 75%;
  text-align: left;
}
tr.data:hover {
  background-color: #ffc0cb;
}
div.welcome{ /*title in middle*/
    text-align: center;
    padding-bottom: 1em;
}
